<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vue</title>
  <!-- 如果是直接引用 Vue 而不是通过 webpack 等工具构建，则在生产环境中需要引用 .min.js 版本来取消警告信息 -->
  <!-- webpack 中则是根据 process.env.NODE_ENV 来决定是否启用生产环境模式 -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <style>
    .demo-alert-box {
      padding: 10px 20px;
      background: #f3beb8;
      border: 1px solid #f09898;
    }
    body > div{
      padding: 10px 0;
      border-bottom: 1px solid #aaa;
    }
  </style>
</head>

<body>
  <!-- v-bind: -->
  <!-- v-bind: 缩写 :title="mytitle" 绑定 class style 时还可以使用对象或数组形式 -->
  <div id="app" v-bind:title="mytitle" :class="{ active: isActive }">
    <!-- mustache语法会将值解释为文本，即使他是一段html -->
    <p>mustache语法 : {{ message }}</p>
    <!-- v-html 指令可以将值解释为html代码，注意不要对用户提供的内容进行渲染以导致xss攻击 -->
    <p>v-html指令 : <span v-html="message"></span></p>
    <!-- v-pre 跳过这个元素及其子元素的编译过程，显示原始mustache标签 -->
    <p v-pre>{{ this will not be compiled }}</p>
    <!-- v-once指令只会初次渲染，之后改变数据值不会更新，这会创建低开销的有缓存的静态组件 -->
    <p v-once>这里的值不会随message而改变 : {{message}}</p>
    <!-- v-cloak 指令会保持在元素上，直到关联实例结束编译 -->
    <!-- 添加 css 规则 [v-cloak] { display: none } 可以隐藏未编译的mustache -->
  </div>
  <script>
    // 启用chrome vue devtools
    Vue.config.devtools = true;
    // v-bind
    let app = new Vue({
    	el: '#app',
    	data: {
    		message: '<span style="color:red">This should be red.</span>',
    		mytitle: '页面加载于 ' + new Date().toLocaleString(),
    		isActive: true,
    	}
    })
    // Vue 执行异步 DOM 更新，在一个事件循环中收集所有变化
    // 对所有更新去重之后计算实际的变化，在下一次事件循环中更新 DOM
    // 因此更改一个属性之后，只有 VNode 的数据立即更新了，
    app.isActive = false
    app.isActive === false // true
    // 但是 DOM 并没有立即响应式更新
    app.$el.className === 'active' // true
    // 可以使用 vm.$nextTick() 放到下一个事件循环
    app.$nextTick(function() {
      app.$el.className === '' // true
    })
    // 也可以使用 async await:
    // async function update() {
    //   // modify data
    //   await vm.$nextTick()
    //   // do something with new DOM
    // }
    // 也可以使用 promise 形式:
    // vm.$nextTick().then(function(){
    //   // do something with new DOM
    // })

  </script>


  <!-- v-if v-else v-else-if -->
  <div id="app-2">
    <p v-if="seen">能看到</p>
    <p v-else>看不到</p>
  </div>
  <script>
    // v-if
    let app2 = new Vue({
    	el: '#app-2',
    	data: {
    		seen: false,
    	}
    });
    // v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。
    // v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——直到条件第一次变为真时，才会开始渲染条件块。
    // 相比之下，v-show 就简单得多——不管初始条件是什么，元素总是会被渲染，切换的是 CSS display 属性
    // 一般来说，v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。
    // 因此，如果需要非常频繁地切换，则使用 v-show 较好；
    // 如果在运行时条件很少改变，则使用 v-if 较好
  </script>


  <!-- v-for="(item, index) in array" 或者用 of 代替 in -->
  <!-- v-for="(value, key, index) in object" -->
  <!-- 对象的遍历是按照Object.keys()的结果进行的 -->
  <!-- 用 v-bind:key="uniqueKey" 来让Vue跟踪每个节点的身份 -->
  <!-- v-for:"n in 10"  1~10 -->
  <!-- v-for 和 v-if 在同级时，for 优先级高，if 会在每个 for 中执行 -->
  <div id="app-3">
    <ol>
      <li v-for="todo in todos">
        {{ todo }}
      </li>
    </ol>
  </div>
  <script>
    // v-for
    let app3 = new Vue({
    	el: '#app-3',
    	data: {
        todos: [
          '学习 JavaScript',
          '学习 Vue',
          '学习 React'
        ]
    	}
    });
    // 注意:
    // 利用索引直接设置数组项时 app3.todos[0] = 'another' 不能触发重渲染
    // 修改数组长度 app3.todos.length = 2 不能触发重渲染
    // 对象添加、删除属性不能触发重渲染，新添加的属性不是响应式的(因为属性在实例初始化的时候转换为 getter/setter)
    // 解决:
    // vm.$set(vm.todos, indexOfItem, newValue)
    // 修改数组长度可以使用 splice 函数
    // 给对象添加属性可以使用 vm.$set(obj, key, value)
  </script>


  <!-- v-on:event-name="handler or expression" -->
  <!-- v-on: 缩写 @click="reverse" -->
  <div id="app-4">
    <p> {{ message }} </p>
    <!-- 可以使用 $event 为函数注入事件参数 -->
    <button
      type="button"
      name="button"
      v-on:click="reverse($event)"
      v-bind:disabled="isDisabled">
      倒置
    </button>
  </div>
  <script>
    let app4 = new Vue({
    	el: '#app-4',
    	data: {
    		message: 'Hello Vue.',
    		isDisabled: false,
    	},
    	methods: {
    		reverse: function(event) {
          console.log(event)
    			this.message = this.message.split('').reverse().join('');
    		},
    	},
    });
    // html 是大小写不敏感的，因此 @myEvent 会变为 @myevent，所以事件命名推荐使用 kebab-case

    // 事件修饰符 可以串联，可以只有修饰符
    // @click.stop="doThis" 阻止事件继续传播
    // @submit.prevent="onSubmit" 提交事件不再重载页面 阻止默认事件 相当于调用preventDefault()
    // @click.capture="doThis" 在事件捕获阶段处理
    // @click.self="doThat" event.target是当前元素时触发处理函数
    // @click.once="doThis" 点击事件只触发一次
    // @scroll.passive="onScroll"  相当于addEventListener中的passive选项，
    // 告诉浏览器在事件处理函数中不会调用preventDefault()，以提升滚动性能
    // @input.native .native 修饰符一般用在组件上，希望监听组件根元素的原生 input 事件

    // 按键修饰符 .keyCode 或 .别名
    // @keyup.enter="submit" 
    // 自带别名 .tab .delete .esc .space .up .down .left .right
    // 自定义按键修饰符别名 Vue.config.keyCodes.f1 = 112

    // 系统修饰键 仅在按下相应按键时才触发鼠标或键盘事件的监听器
    // @keyup.alt.67  alt+c
    // @click.ctrl="doSomething"  ctrl+click
    // .ctrl .alt .shift .meta
    // .exact 为精确模式，不能按下别的系统键

    // 鼠标按键修饰符 .left .right .middle
    // 这些修饰符会限制处理函数仅响应特定的鼠标按钮。
  </script>


  <!-- v-model 表单输入绑定 -->
  <div id="app-5">
    <input type="number" v-model="num" /> num: {{num}}
    <br/>
    <select v-model="selected">
      <option disabled value="">请选择</option>
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="c">C</option>
    </select>
    <span>Selected: {{ selected }}</span>
  </div>
  <script>
    let app5 = new Vue({
    	el: '#app-5',
    	data: {
    		num: 5,
    		selected: ''
    	}
    })
    // v-model 在内部根据元素不同 绑定不同的属性 并抛出不同的事件：
    // text 和 textarea 元素使用 value 属性和 input 事件
    // checkbox 和 radio 使用 checked 属性和 change 事件
    // select 字段将 value 作为 prop 并将 change 作为事件
    // 例如 <input v-model="myInput" /> 相当于
    // <input :value="myInput" @input="myInput = $event.target.value" />

    // v-model 修饰符
    // v-model.lazy="msg" 使用change事件对数据进行同步，而不是默认的input事件
    // v-model.number="age" 自动转换为数值类型
    // v-model.trim="msg" 自动过滤首尾空白符
  </script>


  <!-- computed 计算属性 与 watch 监听器 -->
  <div id="app-7">
    <p>Calculate num + 10. If input 0 you will get warning.</p>
    <input type="number" v-model="num"> + 10 = {{ computedRes }}
  </div>
  <script>
    // computed
    // 计算属性基于他们的依赖进行结果的缓存，只要依赖不改变，多次访问就会直接返回结果
    // 而如果用 methods，则需要每次都执行方法返回结果
    // 上面的 watch 例子用 computed 改写更好
    let app7 = new Vue({
    	el: '#app-7',
    	data: {
    		num: 1,
    	},
    	computed: {
        computedRes() {
          // +this.num 前面加一个加号可以转换为数字
          return +this.num + 10
        },
    		// 既有 getter 也有 setter 的计算属性，常用于 v-model 配合 Vuex 使用
    		someData: {
    			get() {
    				// 如果是从 Vuex store 中取
    				// return this.$store.state.someData
    			},
    			set(value) {
    				// 不能直接修改 Vuex 中的 state，所以发送 commit/dispatch
    				// this.$store.commit('updateSomeData', value);
    			}
    		}
      },
      // 需要在数据变化时执行异步操作或开销较大的操作时，使用 watch
      watch: {
        // dataName: {
        //   // 回调函数
        //   handler (newValue, oldValue) {},
        //   // 设置为 true 监听对象内部值的变化，注意监听数组内部变动不需要 deep
        //   deep: true,
        //   // 设置为 true 则会使用 dataName 当前值立即执行 handler
        //   immediate: true,
        // }
        num (newVal) {
          if (+newVal === 0) alert('You have triggered watcher')
        }
      }
    })
  </script>


  <!-- 组件与 props -->
  <!-- 通过 v-bind:props-name="myProps" 向子组件传递数据  -->
  <!-- @event-name="eventHandler($event)" 监听组件内部触发的事件，可通过$event访问到传递的参数 -->
  <div id="component-demo">
    <my-component :text="myText" @my-click="clickHandler($event)"></my-component>
    <p>Click my-component count: {{ count }}</p>
  </div>
  <script>
    Vue.component('my-component', {
      // 通过定义 props 接收外部传入参数
    	props: ['text'],
    	// 通过 $emit(event-name, arg) 向父级组件发送一个事件，事件名推荐使用 kebab-case
    	template: `
        <div>
          my-component receive prop text: {{ text }}
          <button @click="$emit('my-click', 'arg from component')">click to count++</button>
        </div>`,
    });
    let componentDemo = new Vue({
    	el: '#component-demo',
    	data: {
        myText: 'text from father',
    		count: 0,
    	},
    	methods: {
    		clickHandler (event) {
          console.log(event)
          this.count++
    		}
    	}
    });
    // 一个组件只能有一个根元素，组件名字母全小写且必须包含一个连字符
    // 全局注册的组件 Vue.component('component-name', {}) 可以直接使用
    // import 导入或者文件内定义的组件需要在 components 域中写明
    // import ComponentA from './ComponentA'
    // import ComponentC from './ComponentC'
    // export default {
    //   components: {
    //     ComponentA,
    //     ComponentC
    //   },
    //   // ...
    // }

    // 如果想将一个对象中的所有属性都单个传入组件，例如
    // myobj: {
    //   id: 12,
    //   name: 'wtl'
    // }
    // 可以使用不带参数的 v-bind 
    // <my-component v-bind="myobj"></my-component>
    // 等价于
    // <my-component :id="myobj.id" :name="myobj.name"></my-component>

    // 通过props传递数据，数据流是单向的，只能由父组件到子组件
    // 如果想要实现双向绑定，可以用 .sync 修饰符 .sync 修饰符是语法糖
    // <my-component :propName.sync="myProp"></my-component> 会被编译为
    // <my-component :propName="myProp" @update:propName="myProp = $event"></my-component>
    // 这样当子组件中发送 update:propName 事件，并携带新值时，父组件中的 myProp 就会被更新
    // 子组件中 this.$emit('upodate:propName', newVal);
    // 我们也可以使用不带参数的 v-bind.sync="obj" 将对象 obj 中的所有属性都设置为 "双向绑定的"

    // props 中的变量名出现在 html 属性中，而属性不区分大小写
    // 所以在父组件中写 porps 名时需要将驼峰命名改为 kebab-case(短横线分隔) 命名
    // 例如子组件中定义 porpA，在父组件传参时要改为 <my-component :prop-a="myPropA"></my-component>
    // 可以指定变量的类型、验证要求，没有满足要求会在控制台发出警告
    // props: {
    // 	propA: {
    //    类型，可以是数组 [Number, String, Array, Date, Function, Symbol, Boolean, Object]
    //    也可以是自定义类
    //    type: Number,
    // 		required: true, // 必填字段
    // 		default: 100, // 默认值，如果是对象、数组，必须从一个函数返回
    // 		validator: function(value) {
    // 			// 自定义验证函数，value必须是数组中的一个
    // 			// 验证失败时，开发环境下在控制台产生警告
    // 			// props会在实例创建之前进行验证，所以validator和default里不能用data、computed等
    // 			return ['success', 'warning', 'danger'].indexOf(value) !== -1;
    // 		}
    // 	},
    // }

    // props 会在组件实例创建之前进行验证，所以实例属性例如 data computed 在 default validator 中是不可用的
    // 不应该在一个子组件内部修改prop的值，最好定义一个本地data属性接受prop传来的初始值，然后改变data中的值
    // 数组、对象通过引用传入，直接赋值再修改还是会导致父组件内容被修改

    // 可以为使用的组件添加一个 ref 属性 <base-input ref="usernameInput"></base-input>
    // 然后使用 this.$refs.usernameInput 来访问这个子组件。可以调用这个组件中的方法 使用组件的变量
    // $refs 在渲染完成后生效，并且不是响应式的，因此不要再模板和 computed 中使用它

    // 基础组件自动化全局注册https://cn.vuejs.org/v2/guide/components-registration.html#%E5%9F%BA%E7%A1%80%E7%BB%84%E4%BB%B6%E7%9A%84%E8%87%AA%E5%8A%A8%E5%8C%96%E5%85%A8%E5%B1%80%E6%B3%A8%E5%86%8C
  </script>

  <!-- 组件使用字符串模板的一种边界情况 -->
  <script>
    // 该组件使用了字符串模板 根元素是 li，如果想把该组件放在 ul ol 元素下，需要使用 is
    Vue.component('todo-item', {
      props: ['title'],
      template: `<li>{{title}}</li>`
    })
    // 因为只有li才能直接出现在ul内部，如果直接使用todo-item标签会解析出错，因此用is指定模板
    // 这种边界情况只会在使用字符串模板 template 有限制，使用单位件 .vue 不会有这种情况
    // <ul>
    //   <li is="todo-item" :title="myTitle"></li>
    // </ul>
  </script>

 
  <!-- 在组件上使用 v-model -->
  <!-- 一个组件上使用 v-model 默认会利用名为 value 的 porps 和名为 input 的 event -->
  <!-- 例如 <custom-input v-model="myInput"> 等价于-->
  <!-- <custom-input :value="myInput" @input="myInput = $event"> -->
  <!-- 所以我们要做的就是在组件里接收名为 value 的 porps，当值更改时，发送名为 input 的 event 并携带新值 -->
  <div id="component-v-model-demo">
    <custom-input v-model="myInput"></custom-input>
    <p>你的输入: {{ myInput }}</p>
  </div>
  <script>
    Vue.component('custom-input', {
      props: ['value'],
      template: `
        <label>
          custom-input: <input :value="value" @input="$emit('input', $event.target.value)"/>
        </label>
      `,
    })
    let componentVModelDemo = new Vue({
      el: '#component-v-model-demo',
      data: {
        myInput: ''
      }
    })
  </script>

  <!-- 组件上 v-model 默认使用的 value 和 input -->
  <!-- 如果想绑定 check-box 的 checked 属性，监听其 change 事件怎么办？ -->
  <div id="model-demo">
    <custom-checkbox v-model="myChecked" value="选择"></custom-checkbox>
    <p>myChecked: {{ myChecked }}</p>
  </div>
  <script>
    Vue.component('custom-checkbox', {
      // 使用 model 选项， prop 指定绑定的属性名， event 指定监听的事件名
      // 这样 v-model 就会等价为 <custom-checkbox :checked="myChecked" @change="myChecked = $event">
      // 名为 value 的 props 就被解放出来可以用作他途了
      model: {
        prop: 'checked',
        event: 'change'
      },
      props: ['checked', 'value'],
      // 注意发送的数据是 $event.target.checked
      template: `
        <label>
          {{ value }}
          <input type="checkbox" :checked="checked" @change="$emit('change', $event.target.checked)">
        </label>
      `,
    })
    let modelDemo = new Vue({
      el: '#model-demo',
      data: {
        myChecked: ''
      }
    })
  </script>

  <!-- 在组件中使用 $attrs $listeners -->
  <div id="attrs-listeners-demo">
    <optimized-input
      v-model="myInput"
      placeholder="获得焦点会输出input"
      @focus="focusHandler">
    </optimized-input>
    <p>你的输入：{{ myInput }}</p>
  </div>
  <script>
    // 1.那些没有在组件 props 中声明接收而又从父组件传入的参数，默认会给组件的根元素，有时这不是我们所希望的
    // 例如 custom-input，其根元素是 label，如果我们直接使用 placeholder 属性则会落到 label 元素上
    // 2.有时我们想监听组件中元素的原生事件，如果是根元素的原生事件，可以直接使用 .native 修饰符
    // 而如果我们想监听 custom-input 中 input 元素的 focus 事件该怎么办？

    // Vue 提供了两个非常有用的实例属性 $attrs $listeners
    // 1.$attrs 保存了组件上传入的不被 props 接收的参数(不包括 style class)
    // 2.$listeners 保存了在组件上监听的非 .native 事件，或者加了 .native 而根元素没有的事件
    // 利用这两个属性，我们就可以将 传入的参数 和 监听器 绑定到特定元素上

    Vue.component('optimized-input', {
      created() {
        console.log(this.$listeners)
      },
      // 该属性默认为 true，表明不被 props 识别的属性会被组件的根元素接收
      // 设置为 false 则不会被根元素接收，一般配合 v-bind="$attrs" 使用
      inheritAttrs: false,
      // 我们不在该组件中接收名为 placeholder 的 props, 而是使用 v-bind="$attrs" 将 placeholder 绑定到 input
      // 另外由于使用了 v-model，还应该有名为 value 的 props，同样使用 v-bind="$attrs" 进行绑定
      template: `
        <label>
          optimized-input:
          <input v-bind="$attrs" v-on="myListeners">
        </label>
      `,
      // 写一个 computed 属性 myListeners，来整合 $listeners 和 自定义事件
      // 然后使用 v-on="myListeners" 将监听器绑定到要监听的元素上
      computed: {
        myListeners() {
          return {
            ...this.$listeners,
            // 我们需要自定义一下 input 事件，以配合 v-model
            // 使用箭头函数将 this 与外层绑定，使其指向 Vue 实例，否则指向的是 window
            input: (event) => {
              this.$emit('input', event.target.value)
            }
          }
        }
      }
    })
    let attrsListenersDemo = new Vue({
      el: '#attrs-listeners-demo',
      data: {
        myInput: ''
      },
      methods:{
        focusHandler (){
          console.log('focus on input', this.myInput)
        }
      }
    })
  </script>
  

  <!-- slot 插槽分发内容 -->
  <div id="alert-box-demo">
    <alert-box>
      <!-- v-slot指令 v-slot:slot-name="slotProps" -->
      <!-- slot-name 为具名插槽的 name 可以指定为 default 分配给默认插槽 -->
      <!-- 插槽名可以使用动态属性 v-slot:[dynamicSlotName] -->
      <!-- ="slotProps" 可选，在想要访问组件内作用域提供的属性时使用，推荐使用解构赋值语法 -->
      <!-- v-slot 指令只能使用在 template 标签。只有一种情况例外：当只有默认插槽时，v-slot 可以写在组件标签上 -->
      <!-- <alert-box v-slot="slotProps">{{ slotProps.user.lastName }}</alert-box> -->
      <!-- 提供了缩写形式 v-slot: 缩写为 # 并且 # 后必须提供插槽名例如 #default -->
      <template #my-slot="{ user }">
        <span>{{ `${user.firstName} ${user.lastName}, Something bad happened.` }}</span>
      </template>
    </alert-box>
  </div>
  <script>
    // 插槽可以有多个，这时需要为 slot 指定 name，
    Vue.component('alert-box', {
      data: function() {
        return {
          user: {
            firstName: 'dabei',
            lastName: 'Wen'
          }
        }
      },
      // 有时需要在组件外访问组件内的数据，例如 user
      // 可以将 user 用 v-bind 绑定到 slot
      // 这样就可以在组件外使用 v-slot:slot-name="slotProps" 指令时，使用 slotProps.user 访问到
      // 或者使用解构语法 v-slot:slot-name="{ user }"
      // 甚至可以使用解构重命名或者默认值(防止组件没有提供作用域属性)：
      // v-slot:slot-name="{ user: myUser = { firstName: 'default', lastName: 'default' } }"
    	template: `
        <div class="demo-alert-box">
          <strong>Error!</strong>
          <slot name="my-slot" :user="user">default contents</slot>
        </div>`
    });
    let alertBoxDemo = new Vue({
    	el: '#alert-box-demo'
    });
  </script>


  <!-- 动态组件 -->
  <!-- <component :is="currentTabComponent"></component> 来绑定显示哪个组件 -->
  <!-- 可以用 keep-alive 标签包裹 component 标签，这样失活的组件会被缓存，切换回来不会重构 -->
  <!-- keep-alive 包裹的组件必须有 name -->
  <!-- keep-alive 只作用于一个直属子组件，如果有多个组件(例如使用 v-for)则不会生效 -->
  <div id="dynamic-component-demo">
    <button v-for="tab in tabs" @click="currentTab=tab">{{tab}}</button>
    <component v-bind:is="currentTabComponent"></component>
  </div>
  <script>
    let dynamicComponentDemo = new Vue({
    	el: '#dynamic-component-demo',
    	data: {
    		currentTab: 'Home',
    		tabs: ['Home', 'Posts', 'Archive']
    	},
    	computed: {
    		currentTabComponent: function() {
    			return 'tab-' + this.currentTab.toLowerCase();
    		}
    	},
    	components: {
    		'tab-home': {
    			template: '<p>Home component</p>'
    		},
    		'tab-posts': {
    			template: '<p>Posts component</p>'
    		},
    		'tab-archive': {
    			template: '<p>Archive component</p>'
    		}
    	}
    });
  </script>

  <!-- Vue 的生命周期 -->
  <img src="./lifecycle.png" width="600px" height="1400px">
  <script>
    // beforeCreate()
    // 实例初始化(初始化生命周期钩子等)之后调用。此时数据观测(data observer) 和 事件监听(event/watcher) 还未配置

    // created()
    // 实例创建完成后调用。此时 data observer event watcher injections 都已经配置
    // 但未编译模板和挂载DOM，所以不能访问 $el

    // 之后需要编译模板，而为了知道如何渲染，需要先知道挂载对象
    // 1.如果提供了 el 选项 或者 vm.$mount(el) 提供了 el，则提供的 el 为挂载对象
    // 2.如果 vm.$mount() 没有提供 DOM，则会生成一个 DOM 树以外的节点作为挂载对象(该 DOM 需要手动插入 DOM 树)

    // 然后开始编译
    // 如果定义了 template 则将其编译为 render 函数
    // 没有的话使用挂载的 DOM 模板

    // beforeMount()
    // 挂载之前调用

    // 调用 render 渲染生成 $el 并使用它替换原来的 el

    // mounted()
    // el 被新创建的 vm.$el 替换，并挂载到实例上去之后调用该钩子
    // 不能保证所有子组件都挂载，可以使用 this.$nextTick() 代替mounted()，这时整个视图都已经重绘
    // mounted() {
    //   this.$nextTick(function () {
    //     // Code that will run only after the
    //     // entire view has been rendered
    //   })
    // }

    // beforeUpdate()
    // 数据更新时调用，发生在 VNode 打补丁之前，适合在更新之前访问现有 DOM
    
    // updated()
    // 由于数据更改导致 VNode 重新渲染和打补丁，在这之后会调用该钩子，所以调用时当前组件 DOM 已经更新
    // 不会承诺所有的子组件也都一起被重绘，可以用 vm.$nextTick() 替换掉 updated()，这时整个视图都已经重绘
    // updated() {
    //   this.$nextTick(function () {
    //     // Code that will run only after the
    //     // entire view has been re-rendered
    //   })
    // }

    // activated() <keep-alive> 组件被激活时调用
    // deactivated() <keep-alive> 组件失活时调用

    // beforeDestroy()
    // 实例销毁之前调用，在这一步实例仍然完全可用

    // destroyed()
    // Vue 实例销毁之后调用，所有东西都已经解绑，监听器已经移除，子实例也已经销毁
  </script>


  <!-- 处理边界情况 -->
  <script>

    // provide 和 inject 实现依赖注入。
    // provide 指定我们想要提供给后代组件的数据/方法
    // provide: function() {
    // 	return {
    // 		getMap: this.getMap
    // 	}
    // }
    // 在后代组件里可以用 inject 来接收指定的属性，可以是 字符串数组 或 对象
    // inject: ['getMap']
    // 依赖注入是非响应式的，加深了组件之间的耦合，更推荐使用 Vuex


    // 在 Vue 实例中可以手动监听事件
    // 通过 vm.$on(eventName, eventHandler) 侦听一个事件
    // 通过 vm.$once(eventName, eventHandler) 一次性侦听一个事件
    // 通过 vm.$off(eventName, eventHandler) 停止侦听一个事件
    // 集成一个第三方库，销毁代码可以用$once('hook:beforeDestroy', func)
    // mounted: function() {
    // 	// Pikaday 是一个第三方日期选择器的库
    // 	var picker = new Pikaday({
    // 		field: this.$refs.input,
    // 		format: 'YYYY-MM-DD'
    // 	})
    // 	// 在组件被销毁之前，
    // 	// 也销毁这个日期选择器。
    // 	this.$once('hook:beforeDestroy', function() {
    // 		picker.destroy()
    // 	})
    // }


    // 组件可以递归引用，通过实例中的 name 选项，注意设定递归终止条件
    // 组件之间可以循环调用，如果使用全局注册组件，可以自动解除悖论；使用webapck模块导入时，会报错组件未定义
    // 可以在生命周期钩子beforeCreate去注册子组件来解决
    // beforeCreate: function() {
    //   this.$options.components.TreeFolderContents = require('./tree-folder-contents.vue').default;
    // }
    // 或者使用 webpack 异步 import
    // components: {
    //   TreeFolderContents: () => import('.tree-folder-contents.vue');
    // }

    // 强制更新
    // vm.$forceUpdate() 只影响本组件和插入插槽的子组件，而不是所有子组件

  </script>


</body>

</html>
