<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Render</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="render-demo">
    <blog>
      <h1 slot="header">About Me</h1>
      <p>Here's some page content, which will be included in vm.$slots.default, because it's not inside a named slot.</p>
      <p slot="footer">Copyright 2016 Evan You</p>
      <p>If I have some content down here, it will also be included in vm.$slots.default.</p>
    </blog>
  </div>

  <script>
    Vue.config.devtools = true;
    Vue.component('blog', {
      // createElement 可以简写为 h
      render: function(createElement) {
        var header = this.$slots.header
        var body = this.$slots.default
        var footer = this.$slots.footer
        return createElement('div', [
          createElement('header', header),
          createElement('main', body),
          createElement('footer', footer)
        ])
      }
    })
    new Vue({
      el: '#render-demo',
    })

    // return @returns {VNode}
    createElement(
      // {String | Object | Function}
      // 一个 HTML 标签字符串，组件对象，或者
      // 解析上述任何一种的一个 async 异步函数，必要参数。
      'div',

      // {Object}
      // 一个包含模板相关属性的数据对象
      // 这样，您可以在 template 中使用这些属性。可选参数。
      {
        // 和`v-bind:class`一样的 API
        // 接收一个字符串、对象或字符串和对象组成的数组
        'class': {
          foo: true,
          bar: false
        },
        // 和`v-bind:style`一样的 API
        // 接收一个字符串、对象或对象组成的数组
        style: {
          color: 'red',
          fontSize: '14px'
        },
        // 正常的 HTML 特性
        attrs: {
          id: 'foo'
        },
        // 组件 props
        props: {
          myProp: 'bar'
        },
        // DOM 属性
        domProps: {
          innerHTML: 'baz'
        },
        // 事件监听器基于 `on`
        // 所以不再支持如 `v-on:keyup.enter` 修饰器
        // 需要手动匹配 keyCode。
        on: {
          click: this.clickHandler
        },
        // 仅对于组件，用于监听原生事件，而不是组件内部使用
        // `vm.$emit` 触发的事件。
        nativeOn: {
          // 修饰符 .passive &  .capture !  .once ~   ~!
          '~click': this.nativeClickHandler
        },
        // 作用域插槽格式
        // { name: props => VNode | Array<VNode> }
        scopedSlots: {
          default: props => createElement('span', props.text)
        },
        // 如果组件是其他组件的子组件，需为插槽指定名称
        slot: 'name-of-slot',
        // 其他特殊顶层属性
        key: 'myKey',
        ref: 'myRef'
      },

      // {String | Array}
      // 子节点 (VNodes)，由 `createElement()` 构建而成，
      // 或使用字符串来生成“文本节点”。可选参数。
      [
        '先写一些文字',
        createElement('h1', '一则头条'),
      ]
    );

    // 组件树中，VNode 必须是唯一的，以下是错误的
    createElement('div', [
      // 错误-重复的 VNodes
      myParagraphVNode, myParagraphVNode
    ])
    // 可以用工厂函数解决
    createElement('div',
      Array.apply(null, {
        length: 20
      }).map(function() {
        return createElement('p', 'hi');
      })
    )

    // 实现v-if v-for
    // <ul v-if="items.length">
    //     <li v-for="item in items">{{ item.name }}</li>
    // </ul>
    // <p v-else>No items found.</p>
    render: function(createElement) {
      if (this.items.length) {
        return createElement('ul', this.items.map(function(item) {
          return createElement('li', item.name);
        }));
      } else {
        return createElement('p', 'No items found.');
      }
    }
  </script>

</body>

</html>
